In [8]:
#importing data 
import pandas as pd

# Load the dataset
df = pd.read_csv('gym_churn_us.csv')

print("Original DataFrame head:")
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nOriginal DataFrame info:")
print(df.info())

Original DataFrame head:
| gender   | Near_Location   | Partner   | Promo_friends   | Phone   | Contract_period   | Group_visits   | Age   | Avg_additional_charges_total   | Month_to_end_contract   | Lifetime   | Avg_class_frequency_total   | Avg_class_frequency_current_month   | Churn   |
|:---------|:----------------|:----------|:----------------|:--------|:------------------|:---------------|:------|:-------------------------------|:------------------------|:-----------|:----------------------------|:------------------------------------|:--------|
| 1        | 1               | 1         | 1               | 0       | 6                 | 1              | 29    | 14.2275                        | 5                       | 3          | 0.0203979                   | 0                                   | 0       |
| 0        | 1               | 0         | 0               | 1       | 12                | 1              | 31    | 113.203                        | 12                      | 7          | 1.92294                     | 1.91024                             | 0       |
| 0        | 1               | 1         | 0               | 1       | 1                 | 0              | 28    | 129.448                        | 1                       | 2          | 1.8591                      | 1.7365                              | 0       |
| 0        | 1               | 1         | 1               | 1       | 12                | 1              | 33    | 62.6699                        | 12                      | 2          | 3.20563                     | 3.35721                             | 0       |
| 1        | 1               | 1         | 1               | 1       | 1                 | 0              | 26    | 198.362                        | 1                       | 3          | 1.11388                     | 1.12008                             | 0       |

Original DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             4000 non-null   int64
 1   Near_Location                      4000 non-null   int64
 2   Partner                            4000 non-null   int64
 3   Promo_friends                      4000 non-null   int64
 4   Phone                              4000 non-null   int64
 5   Contract_period                    4000 non-null   int64
 6   Group_visits                       4000 non-null   int64
 7   Age                                4000 non-null   int64
 8   Avg_additional_charges_total       4000 non-null   float64
 9   Month_to_end_contract              4000 non-null   float64
 10  Lifetime                           4000 non-null   int64
 11  Avg_class_frequency_total          4000 non-null   float64
 12  Avg_class_frequency_current_month  4000 non-null   float64
 13  Churn                              4000 non-null   int64
dtypes: float64(4), int64(10)
memory usage: 437.6 KB
None

In [9]:
# Check for missing values (if any)
print("\nMissing values per column:")
print(df.isnull().sum().to_markdown(numalign="left", stralign="left"))

Missing values per column:
|                                   | 0   |
|:----------------------------------|:----|
| gender                            | 0   |
| Near_Location                     | 0   |
| Partner                           | 0   |
| Promo_friends                     | 0   |
| Phone                             | 0   |
| Contract_period                   | 0   |
| Group_visits                      | 0   |
| Age                               | 0   |
| Avg_additional_charges_total      | 0   |
| Month_to_end_contract             | 0   |
| Lifetime                          | 0   |
| Avg_class_frequency_total         | 0   |
| Avg_class_frequency_current_month | 0   |
| Churn                             | 0   |

In [10]:
# List of columns that are binary (0 or 1) and can be converted to boolean
boolean_columns = [
    'gender',
    'Near_Location',
    'Partner',
    'Promo_friends',
    'Phone',
    'Group_visits',
    'Churn'
]

# Convert identified columns to boolean type
for col in boolean_columns:
    df[col] = df[col].astype(bool)

print("\nDataFrame head after boolean conversion:")
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nDataFrame info after boolean conversion:")
print(df.info())

DataFrame head after boolean conversion:
| gender   | Near_Location   | Partner   | Promo_friends   | Phone   | Contract_period   | Group_visits   | Age   | Avg_additional_charges_total   | Month_to_end_contract   | Lifetime   | Avg_class_frequency_total   | Avg_class_frequency_current_month   | Churn   |
|:---------|:----------------|:----------|:----------------|:--------|:------------------|:---------------|:------|:-------------------------------|:------------------------|:-----------|:----------------------------|:------------------------------------|:--------|
| True     | True            | True      | True            | False   | 6                 | True           | 29    | 14.2275                        | 5                       | 3          | 0.0203979                   | 0                                   | False   |
| False    | True            | False     | False           | True    | 12                | True           | 31    | 113.203                        | 12                      | 7          | 1.92294                     | 1.91024                             | False   |
| False    | True            | True      | False           | True    | 1                 | False          | 28    | 129.448                        | 1                       | 2          | 1.8591                      | 1.7365                              | False   |
| False    | True            | True      | True            | True    | 12                | True           | 33    | 62.6699                        | 12                      | 2          | 3.20563                     | 3.35721                             | False   |
| True     | True            | True      | True            | True    | 1                 | False          | 26    | 198.362                        | 1                       | 3          | 1.11388                     | 1.12008                             | False   |

DataFrame info after boolean conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             4000 non-null   bool
 1   Near_Location                      4000 non-null   bool
 2   Partner                            4000 non-null   bool
 3   Promo_friends                      4000 non-null   bool
 4   Phone                              4000 non-null   bool
 5   Contract_period                    4000 non-null   int64
 6   Group_visits                       4000 non-null   bool
 7   Age                                4000 non-null   int64
 8   Avg_additional_charges_total       4000 non-null   float64
 9   Month_to_end_contract              4000 non-null   float64
 10  Lifetime                           4000 non-null   int64
 11  Avg_class_frequency_total          4000 non-null   float64
 12  Avg_class_frequency_current_month  4000 non-null   float64
 13  Churn                              4000 non-null   bool
dtypes: bool(7), float64(4), int64(3)
memory usage: 246.2 KB
None

In [11]:
print(df.head(5))

   gender  Near_Location  Partner  Promo_friends  Phone  Contract_period  \
0    True           True     True           True  False                6
1   False           True    False          False   True               12
2   False           True     True          False   True                1
3   False           True     True           True   True               12
4    True           True     True           True   True                1

   Group_visits  Age  Avg_additional_charges_total  Month_to_end_contract  \
0          True   29                     14.227470                    5.0
1          True   31                    113.202938                   12.0
2         False   28                    129.448479                    1.0
3          True   33                     62.669863                   12.0
4         False   26                    198.362265                    1.0

   Lifetime  Avg_class_frequency_total  Avg_class_frequency_current_month  \
0         3                   0.020398                           0.000000
1         7                   1.922936                           1.910244
2         2                   1.859098                           1.736502
3         2                   3.205633                           3.357215
4         3                   1.113884                           1.120078

   Churn
0  False
1  False
2  False
3  False
4  False

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Define features (X) and target (y)
X = df.drop('Churn', axis=1)
y = df['Churn']

# Identify features to be one-hot encoded
categorical_features_to_encode = ['Contract_period', 'Month_to_end_contract']

# Create a ColumnTransformer to apply OneHotEncoder
# 'remainder="passthrough"' keeps other columns (numerical and already-boolean) as they are
preprocessor_encoding = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features_to_encode)
    ],
    remainder='passthrough'
)

# Apply the encoding
X_encoded = preprocessor_encoding.fit_transform(X)

# Get feature names after one-hot encoding for clarity
ohe_feature_names = preprocessor_encoding.named_transformers_['cat'].get_feature_names_out(categorical_features_to_encode)
remaining_features = [col for col in X.columns if col not in categorical_features_to_encode]
all_feature_names_after_encoding = list(ohe_feature_names) + remaining_features

# Convert the processed array back to a DataFrame for better readability
X_encoded_df = pd.DataFrame(X_encoded, columns=all_feature_names_after_encoding, index=X.index)

print("\nFirst 5 rows of X after one-hot encoding of Contract_period and Month_to_end_contract:")
print(X_encoded_df.head().to_markdown(numalign="left", stralign="left"))

First 5 rows of X after one-hot encoding of Contract_period and Month_to_end_contract:
|    | Contract_period_1   | Contract_period_6   | Contract_period_12   | Month_to_end_contract_1.0   | Month_to_end_contract_2.0   | Month_to_end_contract_3.0   | Month_to_end_contract_4.0   | Month_to_end_contract_5.0   | Month_to_end_contract_6.0   | Month_to_end_contract_7.0   | Month_to_end_contract_8.0   | Month_to_end_contract_9.0   | Month_to_end_contract_10.0   | Month_to_end_contract_11.0   | Month_to_end_contract_12.0   | gender   | Near_Location   | Partner   | Promo_friends   | Phone   | Group_visits   | Age   | Avg_additional_charges_total   | Lifetime   | Avg_class_frequency_total   | Avg_class_frequency_current_month   |
|:---|:--------------------|:--------------------|:---------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:-----------------------------|:-----------------------------|:-----------------------------|:---------|:----------------|:----------|:----------------|:--------|:---------------|:------|:-------------------------------|:-----------|:----------------------------|:------------------------------------|
| 0  | 0                   | 1                   | 0                    | 0                           | 0                           | 0                           | 0                           | 1                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | True     | True            | True      | True            | False   | True           | 29    | 14.2275                        | 3          | 0.0203979                   | 0                                   |
| 1  | 0                   | 0                   | 1                    | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 1                            | False    | True            | False     | False           | True    | True           | 31    | 113.203                        | 7          | 1.92294                     | 1.91024                             |
| 2  | 1                   | 0                   | 0                    | 1                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | False    | True            | True      | False           | True    | False          | 28    | 129.448                        | 2          | 1.8591                      | 1.7365                              |
| 3  | 0                   | 0                   | 1                    | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 1                            | False    | True            | True      | True            | True    | True           | 33    | 62.6699                        | 2          | 3.20563                     | 3.35721                             |
| 4  | 1                   | 0                   | 0                    | 1                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | True     | True            | True      | True            | True    | False          | 26    | 198.362                        | 3          | 1.11388                     | 1.12008                             |

In [16]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets (80% train, 20% test)
# 'stratify=y' ensures that the proportion of churned/non-churned customers is maintained in both sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded_df, y, test_size=0.2, random_state=42, stratify=y)

print(f"\nShape of training features (X_train): {X_train.shape}")
print(f"Shape of testing features (X_test): {X_test.shape}")
print(f"Shape of training target (y_train): {y_train.shape}")
print(f"Shape of testing target (y_test): {y_test.shape}")

Shape of training features (X_train): (3200, 26)
Shape of testing features (X_test): (800, 26)
Shape of training target (y_train): (3200,)
Shape of testing target (y_test): (800,)

In [17]:
from sklearn.preprocessing import StandardScaler

# Identify numerical features that need scaling (excluding the one-hot encoded and boolean columns)
# This assumes the order of columns after ColumnTransformer: one-hot encoded first, then original numerical/boolean
numerical_features_after_encoding = [col for col in all_feature_names_after_encoding if col not in ohe_feature_names]

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler ONLY on the training data and transform both training and test sets
# Ensure to select only the numerical columns for scaling
X_train[numerical_features_after_encoding] = scaler.fit_transform(X_train[numerical_features_after_encoding])
X_test[numerical_features_after_encoding] = scaler.transform(X_test[numerical_features_after_encoding])

print("\nFirst 5 rows of X_train after scaling (numerical columns only):")
print(X_train.head().to_markdown(numalign="left", stralign="left"))

print("\nDescriptive statistics of X_train after scaling (numerical columns only):")
print(X_train[numerical_features_after_encoding].describe().to_markdown(numalign="left", stralign="left"))

First 5 rows of X_train after scaling (numerical columns only):
|      | Contract_period_1   | Contract_period_6   | Contract_period_12   | Month_to_end_contract_1.0   | Month_to_end_contract_2.0   | Month_to_end_contract_3.0   | Month_to_end_contract_4.0   | Month_to_end_contract_5.0   | Month_to_end_contract_6.0   | Month_to_end_contract_7.0   | Month_to_end_contract_8.0   | Month_to_end_contract_9.0   | Month_to_end_contract_10.0   | Month_to_end_contract_11.0   | Month_to_end_contract_12.0   | gender   | Near_Location   | Partner   | Promo_friends   | Phone    | Group_visits   | Age       | Avg_additional_charges_total   | Lifetime   | Avg_class_frequency_total   | Avg_class_frequency_current_month   |
|:-----|:--------------------|:--------------------|:---------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:----------------------------|:-----------------------------|:-----------------------------|:-----------------------------|:---------|:----------------|:----------|:----------------|:---------|:---------------|:----------|:-------------------------------|:-----------|:----------------------------|:------------------------------------|
| 153  | 1                   | 0                   | 0                    | 1                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | 0.981423 | 0.432879        | -0.964384 | -0.663922       | 0.331594 | -0.835232      | 0.552644  | 1.91081                        | -0.731728  | 0.797486                    | 0.890416                            |
| 1248 | 0                   | 1                   | 0                    | 0                           | 0                           | 0                           | 0                           | 0                           | 1                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | -1.01893 | 0.432879        | 1.03693   | 1.5062          | 0.331594 | 1.19727        | -0.974525 | -1.28209                       | 0.06228    | 0.289321                    | 0.3742                              |
| 2759 | 0                   | 1                   | 0                    | 0                           | 0                           | 0                           | 0                           | 0                           | 1                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | -1.01893 | 0.432879        | -0.964384 | -0.663922       | 0.331594 | 1.19727        | 0.552644  | 0.257674                       | -0.731728  | 0.795043                    | 0.767007                            |
| 3529 | 0                   | 0                   | 1                    | 0                           | 0                           | 0                           | 0                           | 1                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | -1.01893 | 0.432879        | 1.03693   | 1.5062          | 0.331594 | 1.19727        | -0.363657 | -0.574216                      | 0.856287   | -0.331981                   | -0.150179                           |
| 2119 | 1                   | 0                   | 0                    | 1                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                           | 0                            | 0                            | 0                            | -1.01893 | 0.432879        | -0.964384 | -0.663922       | 0.331594 | -0.835232      | -0.974525 | -0.917808                      | -0.996397  | -1.93412                    | -1.29397                            |

Descriptive statistics of X_train after scaling (numerical columns only):
|       | gender       | Near_Location   | Partner      | Promo_friends   | Phone       | Group_visits   | Age          | Avg_additional_charges_total   | Lifetime    | Avg_class_frequency_total   | Avg_class_frequency_current_month   |
|:------|:-------------|:----------------|:-------------|:----------------|:------------|:---------------|:-------------|:-------------------------------|:------------|:----------------------------|:------------------------------------|
| count | 3200         | 3200            | 3200         | 3200            | 3200        | 3200           | 3200         | 3200                           | 3200        | 3200                        | 3200                                |
| mean  | -5.82867e-17 | 3.9968e-17      | -4.21885e-17 | 8.54872e-17     | 1.70974e-16 | 5.7454e-17     | -2.22045e-16 | 1.28453e-15                    | 1.77636e-17 | 2.94875e-15                 | 1.76303e-15                         |
| std   | 1.00016      | 1.00016         | 1.00016      | 1.00016         | 1.00016     | 1.00016        | 1.00016      | 1.00016                        | 1.00016     | 1.00016                     | 1.00016                             |
| min   | -1.01893     | -2.31012        | -0.964384    | -0.663922       | -3.01573    | -0.835232      | -3.41799     | -1.52286                       | -0.996397   | -1.93412                    | -1.67768                            |
| 25%   | -1.01893     | 0.432879        | -0.964384    | -0.663922       | 0.331594    | -0.835232      | -0.669091    | -0.811116                      | -0.731728   | -0.720492                   | -0.774163                           |
| 50%   | 0.981423     | 0.432879        | -0.964384    | -0.663922       | 0.331594    | -0.835232      | -0.0582233   | -0.110758                      | -0.202389   | -0.0475533                  | -0.0353551                          |
| 75%   | 0.981423     | 0.432879        | 1.03693      | 1.5062          | 0.331594    | 1.19727        | 0.552644     | 0.670236                       | 0.326949    | 0.675649                    | 0.712694                            |
| max   | 0.981423     | 0.432879        | 1.03693      | 1.5062          | 0.331594    | 1.19727        | 3.60698      | 4.23601                        | 6.67901     | 4.25819                     | 4.15252                             |

In [19]:
#These comprehensive data wrangling steps ensure that your data is well-prepared and optimized for training a machine learning model to predict churn.